<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>20190415_practice_servlet</display-name>
  <welcome-file-list>   
    <welcome-file>index.jsp</welcome-file>   
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>mainctrl</servlet-name>
  	<servlet-class>a.b.happy.MainCtrl</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>mainctrl</servlet-name>
  	<url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>servlet2</servlet-name>
  	<servlet-class>com.min.servlet.Servlet2_Ctrl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>servlet2</servlet-name>
  	<url-pattern>/servlet2.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jobsSelectAll</servlet-name>
  	<servlet-class>com.min.servlet.Jobs_SelAll</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jobsSelectAll</servlet-name>
  	<url-pattern>/jobsSelectAll.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>jobsSelectOne</servlet-name>
  	<servlet-class>com.min.servlet.Jobs_SelOne</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jobsSelectOne</servlet-name>
  	<url-pattern>/jobsSelectOne.do</url-pattern>
  </servlet-mapping>
  
</web-app>